.edicion-conten{
    color: red;
    /* background: url("../img/code1.png"); */
    background: url("../img/Mesa_de_edicion.png") no-repeat;
    width: 100%;
    /* background: no-repeat; */
    /* background-size: 100% 100%; */
}