.edicion-conten{
    color: white;
    background: url("../img/Mesa_de_edicion.png") no-repeat;
    /* background: no-repeat; */
    background-size: 100% 100%;
    padding-top: 54px;
    padding-bottom: 54px;

}